[mysqld]

server-id     = ${MYSQL_SERVER_ID}
log_bin       = ${MYSQL_DATADIR}/mysql-bin.log
relay-log     = ${MYSQL_DATADIR}/mysql-relay-bin.log
# Not using explicit DB filtering, from some unknown reason this makes the user
# permissions not being replicated on 10.5 and further
# binlog_do_db  = mysql
# binlog_do_db  = ${MYSQL_DATABASE}
